@import '../../../styles/shared.scss';

.word {
  overflow: hidden;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: $color-letter-border;
  cursor: grab;
  transition: 0.5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid $color-letter-border;

  &:active {
    cursor: grabbing;
  }
}
.word:not(:last-of-type) {
  margin-bottom: 10px;
}

.dragging {
  /* transform: scale(1.1) rotate(-2deg);
  background-color: $color-dark-mainTheme;
  color: $color-dark-mainTheme; */
  background-color: $color-letterLight-border;
  color: $main-text-color;
  /* transform: rotate(-2deg); */
}

.correct {
  /* background-color: $color-stage-2-transparent; */
  border: 1px solid $color-stage-2;
  color: $color-stage-2;
}
