@import '../../styles/shared.scss';

.wrapperTop {
  max-height: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formWrapper {
  width: 30%;
}
.form {
  width: 100%;
  padding: 20px;
  @extend %boxBorder;
}
.extraWrapper {
  margin-bottom: 15px;
}

.topCryptoWrapper {
  width: 38.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statWrapper {
  overflow: hidden;
  width: 30%;
  padding: 20px;
  @extend %boxBorder;
}

.rankWrapper {
  margin-right: 20px;
  overflow: hidden;
  width: 30%;
  padding: 20px;
  @extend %boxBorder;
}

.wrapperBottom {
  padding-top: 20px;
  border-top: 1px solid $color-superLight-mainTheme;
  display: flex;
  flex-direction: column;
}

.tableWrapper {
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
}
.diagramsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.diagramBuyWrapper {
  background-color: $color-light-mainTheme;
  padding: 10px;
  max-width: 20%;
  @extend %boxBorder;
  border-radius: 5px;
  margin-right: 20px;
}
.diagramSellWrapper {
  background-color: $color-light-mainTheme;
  padding: 10px;
  max-width: 20%;
  @extend %boxBorder;
  border-radius: 5px;
}

.diagramTitle {
  text-align: center;
  text-transform: uppercase;
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: $color-dark-mainTheme;
  border-radius: 5px;
  color: $main-text-color;
}

.selectTabWrapper {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;

  .buttonsWrapper {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .categoryBtn {
    border-radius: 3px;
    font-size: 26px;
    color: $color-medium-mainTheme;
  }
}

.button {
  margin-top: 15px;
  padding: 12px 0;
}

.buttonText {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}

.buttonIcon {
  margin-right: 10px;
  font-size: 20px;
}

.modalContentWrapper {
  width: 300px;
  min-height: 200px;
}

.deleteBtnModal {
  margin-top: 15px;
}
