@import '../../styles/shared.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.translatedWord {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: $color-darkest-mainTheme;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
  color: $color-medium-mainTheme;
}

.list {
  display: flex;
  margin-bottom: 20px;
}

.cellToFill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid $color-darkest-mainTheme;
  border-radius: 3px;
  font-size: 12px;

  &.current {
    border: 2px solid $color-letter-border;
  }

  &.quessed {
    background-color: $color-right-letter;
  }
}

.cellToClick {
  background-color: $color-letter-border;
  cursor: pointer;
  transition: $transition;
  &:hover {
    transform: scale(1.1);
  }
}

.wrong {
  &:active {
    background-color: $color-wrong-letter;
  }
}

.right {
  &:active {
    background-color: $color-right-letter;
  }
}

.keyWrong {
  background-color: $color-wrong-letter;
}
.keyRight {
  background-color: $color-right-letter;
}

.hidden {
  visibility: hidden;
}

.letterAmount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
  z-index: 1;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid black;
  font-size: 10px;
  background: $color-letter-border;
  color: white;
}

.wordQuessed {
  height: 30px;
  width: 100%;
}
