// color palette
$main-text-color: #ffffff;
$secondary-text-color: #000000;
$rippleEffectColor: rgba(255, 255, 255, 0.7);
$rippleEffectColorLight: #b0bec5d7;
$rippleEffectColorDark: #37474fcb;
$transparent: rgba(255, 255, 255, 0);
$transition: 0.2s;
$transitionModal: 0.3s;
$color-modal-backdrop: rgba(21, 2, 35, 0.3);
$color-letter-border: rgb(0, 166, 255);
$color-letterLight-border: rgb(84, 192, 250);
$color-letterSuperLight-border: rgb(154, 220, 255);
$color-wrong-letter: rgb(208, 3, 3);
$color-right-letter: rgba(0, 170, 0, 0.837);
$color-tootlip-bg: rgba(49, 49, 49, 0.7);

// 0 - new, 1- in progress, 2 - done
$color-stage-0: rgb(84, 192, 250);
$color-stage-1: rgb(255, 174, 0);
$color-stage-1-transparent: rgb(255, 218, 138);
$color-stage-2: rgb(2, 189, 2);
$color-stage-2-transparent: rgb(163, 247, 163);

//place result
$color-gold-trophy: rgba(255, 217, 0);
$color-silver-trophy: rgb(128, 128, 128);
$color-bronze-trophy: rgb(205, 127, 50);
$color-empty-trophy: rgb(181, 181, 181);

//main theme
$color-superLight-mainTheme: #cfd8dc;
$color-light-mainTheme: #b0bec5;
$color-medium-mainTheme: #78909c;
$color-main-mainTheme: #455a64;
$color-dark-mainTheme: #37474f;
$color-darkest-mainTheme: #263238;
$bg-white-color: #ffffff;

// blueGrey theme
$color-superLight-blueGrey: #cfd8dc;
$color-light-blueGrey: #b0bec5;
$color-meduim-blueGrey: #78909c;
$color-main-blueGrey: #455a64;
$color-dark-blueGrey: #37474f;
$color-darkest-blueGrey: #263238;

//orange theme
$color-superLight-orange: #d7ccc8;
$color-light-orange: #bcaaa4;
$color-meduim-orange: #8d6e63;
$color-main-orange: #795548;
$color-dark-orange: #5d4037;
$color-darkest-orange: #3e2723;

//teal theme
$color-superLight-teal: #b2dfdb;
$color-light-teal: #80cbc4;
$color-meduim-teal: #26a69a;
$color-main-teal: #009688;
$color-dark-teal: #00796b;
$color-darkest-teal: #004d40;

//////////////////////////////////////

$color-hover-green: #007d2c;
$color-hover-yellow: #cd9933;
$color-hover-blue: #0070a3;
$color-hover-orange: #d87105;
$color-hover-red: #9a1a18;
$color-secondary-yellowish: #efebe2;
$color-secondary-darkGrey: #737b7d;
$color-secondary-mediumGrey: #afafaf;
$color-secondary-lightGrey: #d0d0d0;
$color-secondary-lightPurple: #b57fca;
$color-form-blue: #7bb9fa;
$color-form-red: #f34e4e;

$hover: 0.2s;
