@import './colors';

:export {
  colorSuperLightMainTheme: $color-superLight-mainTheme;
  colorLightMainTheme: $color-light-mainTheme;
  colorMediumMainTheme: $color-medium-mainTheme;
  colorMainMainTheme: $color-main-mainTheme;
  colorDarkMainTheme: $color-dark-mainTheme;
  colorDarkestMainTheme: $color-darkest-mainTheme;
  white: $main-text-color;
}
