@import '../../styles/shared.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matching {
  width: 100%;
  background-color: $main-text-color;
  border-radius: 5px;
  border: 2px solid $color-letter-border;
}

.colWrapper {
  padding: 0px 30px 30px;
  display: flex;
  justify-content: center;

  &.extraPadding {
    padding-top: 30px;
  }
}

.col {
  width: 35%;
}

.col:not(:last-of-type) {
  margin-right: 80px;
}
.title {
  padding: 10px;
  font-size: 1.1rem;
  color: $main-text-color;
  margin-bottom: 30px;
  text-align: center;
  background-color: $color-letter-border;
  border-radius: 3px;
}

.wordList {
  width: 100%;
}

.wordsLeft {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: $color-medium-mainTheme;
}
